@view-transition {
  navigation: auto;
}

.mb {
  margin-bottom: 5rem;
}

/* Sobre escritura */

.project__gallery {
  min-height: 70rem;
}

.project {
  min-height: 70rem;
}

.project__picture {
  height: 70rem;
}

/* DETAIL */

.detail {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.detail__title {
  text-align: center;
}

.detail__data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: bold;
}

@media (width >= 768px) {
  .detail__data {
    display: flex;
  }
}

@media (width >= 992px) {
  .detail__data {
    flex-direction: row;
    justify-content: space-between;
    gap: unset;
  }
}

.detail__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    text-align: justify;
  }
}

/* CARD GALLERY */

.card__gallery--C {
  grid-template-rows: repeat(11, 27rem);
}

@media (width >= 768px) {
  .card__gallery--C {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 20rem);
    grid-template-areas:
      "c1 c1 c1 c1 c1 c1"
      "c1 c1 c1 c1 c1 c1"
      "c2 c2 c2 c3 c3 c3"
      "c2 c2 c2 c3 c3 c3"
      "c4 c4 c5 c5 c6 c6"
      "c4 c4 c5 c5 c6 c6"
      "c7 c7 c7 c8 c8 c8"
      "c7 c7 c7 c8 c8 c8"
      "c9 c9 c9 c9 c9 c9"
      "c9 c9 c9 c9 c9 c9"
      "c10 c10 c10 c11 c11 c11"
      "c10 c10 c10 c11 c11 c11"
    ;
  }

  .card__c--1 {
    grid-area: c1;
  }

  .card__c--2 {
    grid-area: c2;
  }

  .card__c--3 {
    grid-area: c3;
  }

  .card__c--4 {
    grid-area: c4;
  }

  .card__c--5 {
    grid-area: c5;
  }

  .card__c--6 {
    grid-area: c6;
  }

  .card__c--7 {
    grid-area: c7;
  }

  .card__c--8 {
    grid-area: c8;
  }

  .card__c--9 {
    grid-area: c9;
  }

  .card__c--10 {
    grid-area: c10;
  }

  .card__c--11 {
    grid-area: c11;
  }
}

@media (width >= 992px) {
  .card__gallery--C {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 20rem);
    grid-template-areas:
      "c1 c1 c1 c1 c1 c1"
      "c1 c1 c1 c1 c1 c1"
      "c2 c2 c2 c2 c3 c3"
      "c2 c2 c2 c2 c3 c3"
      "c4 c4 c5 c5 c6 c6"
      "c4 c4 c5 c5 c6 c6"
      "c7 c7 c8 c8 c8 c8"
      "c7 c7 c8 c8 c8 c8"
      "c9 c9 c9 c9 c9 c9"
      "c9 c9 c9 c9 c9 c9"
      "c10 c10 c10 c10 c11 c11"
      "c10 c10 c10 c10 c11 c11"
    ;
  }
}