@view-transition {
  navigation: auto;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*
  * MAIN *
*/

.main {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (width >= 768px) {
  .main {
    flex-direction: row;
    min-height: 60rem;
    height:  calc(100vh - 29.6rem);
    max-height: 80rem;
  }
}
.contact__image {
  margin: 0 auto;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact__form {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
}

@media (width >= 768px) {
  .contact__form {
    width: 50%;
    margin-top: 0;
  }
}

.form {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 4rem 2rem;
  display: grid;
  align-items: center;
  gap: 3rem;
}

.form__title {
  color: var(--color-gray-900);
  font-size: 1.8rem;
  font-weight: bold;
}

.form__group {
  position: relative;
  height: 3.88rem;
}

.form__input {
  position: relative;
  display: block;
  width: 100%;
  background-color: transparent;
  color: #c6c6c6;
  outline: none;
  border: none;
  font-size: 1.6rem;
  padding: 1rem 1rem 1rem .5rem;
  border-bottom: .1rem solid #000;
}

.form__input--textarea {
  border: 1px solid #000;
  resize: none;
  width: 100%;
  height: 25rem;
}

.form__input:focus {
  color: rgb(93, 93, 93);
}

.form__input:focus + .form__label, 
.form__input:not(:placeholder-shown) + .form__label {
  color: var(--color-blue-500);
  transform: scale(0.7) translateY(-3.4rem);
  transform-origin: top left;
}

.form__input:focus ~ .form__bar {
  transform: scale(1);
}

.form__bar {
  position: absolute;
  border-bottom: .1rem solid var(--color-blue-500);
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
  transform: scale(0);
  transition: 0.5s transform;
  transform-origin: left bottom;
}

.form__label {
  position: absolute;
  color: #49454567;
  font-size: 1.6rem;
  left: .5rem;
  top: 1rem;
  pointer-events: none;
  transition: 0.5s transform, color 0.3s;
}

.form__submit {
  width: 17rem;
  padding-block: 1rem;
  border: none;
  background-color: #c6c6c6;
  color: #000;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

.footer {
  margin-top: auto;
  padding-top: 20rem;
}