@view-transition {
  navigation: auto;
}

/* MAIN */

.main {
  margin-top: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* INFO */

.info__image {
  height: 80rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__picture {
  width: 100%;
  height: 100%;
}

.info__img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.info__text {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    text-align: justify;
  }
}

.timeline__title {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.timeline__element {
  display: flex;
  justify-content: space-between;
}

.timeline__year {
  width: 10%;
  font-size: 2.5rem;
  font-weight: bold;
}

.timeline__text {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}