@view-transition {
  navigation: auto;
}

.mb {
  margin-bottom: 5rem;
}

/* MAIN */

.main {
  position: relative;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width >= 768px) {
  .main {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height:  calc(100vh - 29.6rem);
    max-height: 70rem;
    overflow-y: scroll;
    margin-bottom: none;
  }
}

/* INFO */

.info__image {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

@media (width >= 768px) {
  .info__image {
    width: 50%;
    position: sticky;
    top: 0;
    margin-bottom: 0;
  }
}

.info__picture {
  width: 100%;
  height: 100%;
}

.info__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.info__text {
  width: 90%;
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  gap: 0;

  p {
    text-align: justify;
  }
}

@media (width >= 768px) {
  .info__text {
    width: 50%;
  }
}

.bio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.timeline{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.timeline__element {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (width >= 992px) {
  .timeline__element {
    flex-direction: row;
    gap: 4rem;
  }
}

.element__year {
  width: 10%;
  font-size: 2.5rem;
  font-weight: bold;
}

.element__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (width >= 768px) {
  .element__text {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
  }

  .element__text::before {
    content: ' ';
    display: block;
    width: 0.1rem;
    background-color: #000;
    position: absolute;
    height: 90%;
    top: 3rem;
    left: -9rem;
  }

  .timeline__element:last-child .element__text::before {
    display: none;
  }
}