/*
  * RESET *
*/

* {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/*
  * GENERALES *
*/

h1, h2, h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.mb {
  margin-bottom: 5rem;
}

/*
  * HEADER *
*/

.nav__logo {
  width: 15rem;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-block: 3rem;
  font-size: 1.8rem;
  background-color: #FFF;
  backdrop-filter: blur(2rem);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: .5px .5px 4px #e1e1e1; */
}

.nav__link {
  display: inline-block;
  color: #000;
}

@media (width >= 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    height: 14.5rem; 
    padding-inline: 5%;
  }
}

.nav__principal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (width >= 768px) {
  .nav__principal {
    flex-direction: row;
    margin-bottom: unset;
  }
}

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@media (width >= 768px) {
  .nav__menu {
    flex-direction: row;
  }
}

.nav__language {
  display: flex;
  gap: 3rem;
}

/*  */

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*  */


.info__image {
  height: 80rem;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__picture {
  width: 100%;
  height: 100%;
}

.info__img {
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.info__text {
  width: 50%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  p {
    text-align: justify;
  }
}

.timeline__title {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.timeline__element {
  display: flex;
  justify-content: space-between;
}

.timeline__year {
  width: 10%;
  font-size: 2.5rem;
  font-weight: bold;
}

.timeline__text {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}