@view-transition {
  navigation: auto;
}

/* MAIN */

.main {
  margin-top: 20rem;
}

/* PORTFOLIO */

.portfolio {
  width: 100%;
  height: 100%;
  background-color: crimson;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.portfolio__elements {
  width: 100%;
  height: 100%;
  background-color: steelblue;
  display: flex;
  flex-basis: 1;
  flex-direction: column;
  justify-content: space-between;

  p:not(.active) {
    color: #c6c6c6;
  }
}

.portfolio__image {
  width: 50%;
}

.portfolio__picture {
  width: 55rem;
  height: 70rem;
  margin: 0 auto;
}