@view-transition {
  navigation: auto;
}

/*
  * RESET *
*/

*, ::after, ::before {
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", serif;
}

body {
  font-size: 1.6rem;
  font-weight: 300;
}

/*
  * GENERALES *
*/

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.mb {
  margin-bottom: 5rem;
}

@media (width >= 768px) {
  .mb {
    margin-bottom: 20rem;
  }
  
}

.mta {
  margin-top: auto;
}

/*
  * HEADER *
*/

.nav__logo {
  width: 10rem;
}

@media (width >= 768px) {
  .nav__logo {
    width: 15rem;
  }
}

.nav {
  --translate-menu: translateY(-150%);

  position: fixed;
  top: 0;
  width: 100%;
  height: 8rem;
  font-size: 1.6rem;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1rem);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__link {
  display: inline-block;
  color: #FFF;
}

.nav__link--black {
  color: #000;
}

@media (width >= 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    height: 10rem;
    padding-inline: 5%;
  }
}

.nav__button {
  --translate-stick1: 0 -0.9rem;
  --translate-stick3: 0 0.9rem;
  --rotate-stick1: 0;
  --rotate-stick3: 0;
  --opacity--stick-2: 1;
  --transition-sticks: rotate .4s, translate .4s .4s, opacity .4s;
  
  width: max-content;
  height: 3.5rem;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10000;
  display: grid;
  align-content: center;
  grid-template-areas: 'sticks';
}

@media (width >= 768px) {
  .nav__button {
    display: none;
  }
}

.open {
  --translate-menu: translateY(-0.1px);
  --translate-stick1: 0 0;
  --translate-stick3: 0 0;
  --rotate-stick1: 45deg;
  --rotate-stick3: -45deg;
  --opacity--stick-2: 0;
  --transition-sticks: translate .2s, rotate .2s .2s, opacity .2s;
}

.button__stick {
  grid-area: sticks;
  width: 4rem;
  height: 0.4rem;
  background-color: #FFF;
  border-radius: 1rem;

  transition: var(--transition-sticks);
}

.button__stick--1 {
  translate: var(--translate-stick1);
  rotate: var(--rotate-stick1);
}

.button__stick--2 {
  opacity: var(--opacity--stick-2);
}

.button__stick--3 {
  translate: var(--translate-stick3);
  rotate: var(--rotate-stick3);
}

.nav__principal {
  margin: 0 auto;
  width: 90%;
  height: 8rem;
  padding-block: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 900;
}

@media (width >= 768px) {
  .nav__principal {
    justify-content: unset;
    width: max-content;
  }
}

.nav__options {
  width: 100%;
  padding-block: 3rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: var(--translate-menu);
  transition: transform .5s;
}

@media (width >= 768px) {
  .nav__options {
    transform: unset;
    background-color: transparent;
    margin-left: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

.nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (width >= 768px) {
  .nav__menu {
    flex-direction: row;
  }
}

.nav__language {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.nav__contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.nav__contact img {
  filter: grayscale(50%);
}

.nav--light {
  background-color: #FFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (width >= 768px) {
  .nav--light {
    box-shadow: unset;
  }
}

.nav--dark {
  background-color: #000;
}

/*
  * CARD *
*/

.card {
  width: 100%;
  height: auto;
  max-width: 120rem;
  max-height: 60rem;
  padding: 1rem;
  background-color: #f1f1f1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card--black {
  background-color: #000;
  color: #FFF;
}

.card--gray {
  background-color: #c1c1c1;
}

.card__picture {
  width: 100%;
  height: calc(100% - 5rem);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.card__video {
  width: 100%;
  height: 100%;
}

.card__body {
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.card__title {
  font-size: 1.8rem;
  font-weight: 500;
}

.card__description {
  font-size: 1.6rem;
}

/* CARD GALLERY */

.card__gallery {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (width >= 768px) {
  .card__gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width >= 992px) {
  .card__gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

/*
  * CG1 *
*/

.card__gallery--1 {
  grid-template-rows: repeat(7, 27rem);
}

@media (width >= 768px) {
  .card__gallery--1 {
    grid-template-rows: repeat(9, 25rem);
    grid-template-areas:
      "a1 a1 a1 a1"
      "a1 a1 a1 a1"
      "a2 a2 a4 a4"
      "a3 a3 a3 a3"
      "a3 a3 a3 a3"
      "a5 a5 a6 a6"
      "a5 a5 a6 a6"
      "a7 a7 a7 a7"
      "a7 a7 a7 a7"
    ;
  }
  .card--1 {
    grid-area: a1;
  }
  
  .card--2 {
    grid-area: a2;
  }
  
  .card--3 {
    grid-area: a3;
  }
  
  .card--4 {
    grid-area: a4;
  }
  
  .card--5 {
    grid-area: a5;
  }
  
  .card--6 {
    grid-area: a6;
  }
  
  .card--7 {
    grid-area: a7;
  }
}

@media (width >= 992px) {
  .card__gallery--1 {
    grid-template-rows: repeat(6, 25rem);
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1"
      "a1 a1 a1 a1 a1 a1"
      "a2 a2 a3 a3 a3 a3"
      "a4 a4 a3 a3 a3 a3"
      "a5 a5 a6 a6 a7 a7"
      "a5 a5 a6 a6 a7 a7"
    ;
  }
}

/*
  * PROJECT GALLERY *
*/

.project__gallery {
  min-height: 100rem;
  max-height: max-content;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  gap: 5rem;
}


.project {
  width: 100%;
  min-height: 100rem;
  height: max-content;
  position: relative;
}

.project__picture {
  width: 100%;
  height: 100rem;
}

.project__title {
  position: sticky;
  top: 60%;
  left: 5%;
  width: max-content;
  color: #FFF;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 100;
}

@media (width >= 768px) {
  .project__title {
    font-size: 2.5rem;
  }
}

@media (width >= 992px) {
  .project__title {
    font-size: 3rem;
    letter-spacing: .2rem;
  }
}

.project__title--gray {
  color: #000;
  background-color: #c1c1c1;
}

.project__title--black {
  color: #000;
}

.project__image {
  width: 100%;
  height: 100%;
}

.image__gray {
  height: 100%;
  filter: grayscale(100%);
}

/*
  * CG2 *
*/

@media (width >= 768px) {
  .card__gallery--2 {
    grid-template-rows: repeat(2, 25rem);
    grid-template-areas:
        "x a8 a8 _"
        "x a8 a8 _"
      ;
  }

  .card--8 {
    grid-area: a8;
  }
}

@media (width >= 992px) {
  .card__gallery--2 {
    grid-template-rows: repeat(2, 25rem);
    grid-template-areas:
        "_ _ a8 a8 x x"
        "_ _ a8 a8 x x"
      ;
  }
}

/*
  * CG3 *
*/

@media (width >= 768px) {
  .card__gallery--3 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 12rem);
    grid-template-areas:
      "l1 l1 l1 l1"
      "l1 l1 l1 l1"
      "l1 l1 l1 l1"
      "l2 l2 l4 l4"
      "l2 l2 l4 l4"
      "l3 l3 l4 l4"
      "l5 l5 l6 l6"
      "l5 l5 l6 l6"
      "l5 l5 l6 l6"
      "l7 l7 l7 l7"
      "l7 l7 l7 l7"
      "l7 l7 l7 l7"
    ;
  }
  .card--9 {
    grid-area: l1;
  }
  
  .card--10 {
    grid-area: l2;
  }
  
  .card--11 {
    grid-area: l3;
  }
  
  .card--12 {
    grid-area: l4;
  }
  
  .card--13 {
    grid-area: l5;
  }
  
  .card--14 {
    grid-area: l6;
  }
  
  .card--15 {
    grid-area: l7;
  }
}

@media (width >= 992px) {
  .card__gallery--3 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 12rem);
    grid-template-areas:
      "l1 l1 l1 l1 l1 l1"
      "l1 l1 l1 l1 l1 l1"
      "l1 l1 l1 l1 l1 l1"
      "l1 l1 l1 l1 l1 l1"
      "l2 l2 l2 l2 l4 l4"
      "l2 l2 l2 l2 l4 l4"
      "l2 l2 l2 l2 l4 l4"
      "l3 l3 l3 l3 l4 l4"
      "l5 l5 l6 l6 l7 l7"
      "l5 l5 l6 l6 l7 l7"
      "l5 l5 l6 l6 l7 l7"
      "l5 l5 l6 l6 l7 l7"
    ;
  }
}


/*
  * CG4 *
*/

.card__gallery--4 {
  grid-template-rows: repeat(10, 25rem);
}

@media (width >= 768px) {
  .card__gallery--4 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 12rem);
    grid-template-areas:
      "m1 m1 m2 m2"
      "m1 m1 m2 m2"
      "m1 m1 m2 m2"
      "m3 m3 m6 m6"
      "m3 m3 m6 m6"
      "m4 m4 m7 m7"
      "m5 m5 m8 m8"
      "m5 m5 m8 m8"
      "m5 m5 m8 m8"
      "m9 m9 m10 m10"
      "m9 m9 m10 m10"
      "m9 m9 m10 m10"
    ;
  }
  .card--16 {
    grid-area: m1;
  }
  
  .card--17 {
    grid-area: m2;
  }
  
  .card--18 {
    grid-area: m3;
  }
  
  .card--19 {
    grid-area: m4;
  }
  
  .card--20 {
    grid-area: m5;
  }
  
  .card--21 {
    grid-area: m6;
  }
  
  .card--22 {
    grid-area: m7;
  }

  .card--23 {
    grid-area: m8;
  }

  .card--24 {
    grid-area: m9;
  }

  .card--25 {
    grid-area: m10;
  }
}

@media (width >= 992px) {
  .card__gallery--4 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 12rem);
    grid-template-areas:
      "m1 m1 m1 m1 m2 m2"
      "m1 m1 m1 m1 m2 m2"
      "m1 m1 m1 m1 m2 m2"
      "m1 m1 m1 m1 m2 m2"
      "m3 m3 m5 m5 m6 m6"
      "m3 m3 m5 m5 m6 m6"
      "m3 m3 m5 m5 m6 m6"
      "m4 m4 m5 m5 m7 m7"
      "m8 m8 m9 m9 m10 m10"
      "m8 m8 m9 m9 m10 m10"
      "m8 m8 m9 m9 m10 m10"
      "m8 m8 m9 m9 m10 m10"
    ;
  }
}

/*
  * CG5 *
*/

.card__gallery--5 {
  grid-template-rows: repeat(5, 27rem);
}

@media (width >= 768px) {
  .card__gallery--5 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(9, 12rem);
    grid-template-areas:
      "p2 p2 p2 p2"
      "p2 p2 p2 p2"
      "p2 p2 p2 p2"
      "p1 p1 p3 p3"
      "p1 p1 p3 p3"
      "p1 p1 p3 p3"
      "p4 p4 p5 p5"
      "p4 p4 p5 p5"
      "p4 p4 p5 p5"
    ;
  }

  .card--26 {
    grid-area: p1;
  }
  
  .card--27 {
    grid-area: p2;
  }
  
  .card--28 {
    grid-area: p3;
  }
  
  .card--29 {
    grid-area: p4;
  }
  
  .card--30 {
    grid-area: p5;
  }
}

@media (width >= 992px) {
  .card__gallery--5 {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 16rem);
    grid-template-areas:
      "p1 p1 p2 p2 p2 p2"
      "p1 p1 p2 p2 p2 p2"
      "p1 p1 p2 p2 p2 p2"
      "p3 p3 p4 p4 p5 p5"
      "p3 p3 p4 p4 p5 p5"
      "p3 p3 p4 p4 p5 p5"
    ;
  }
}

/* 
  * CG6 *
*/

.card__gallery--6 {
  grid-template-rows: repeat(5, 27rem);
}

@media (width >= 768px) {
  .card__gallery--6 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 24rem);
    grid-template-areas:
      "pr1 pr1 pr1 pr1"
      "pr1 pr1 pr1 pr1"
      "pr2 pr2 pr3 pr3"
      "pr2 pr2 pr3 pr3"
      "pr4 pr4 pr4 pr4"
      "pr4 pr4 pr4 pr4"
    ;
  }

  .card--31 {
    grid-area: pr1;
  }
  
  .card--32 {
    grid-area: pr2;
  }
  
  .card--33 {
    grid-area: pr3;
  }
  
  .card--34 {
    grid-area: pr4;
  }
}

/* @media (width >= 992px) {
  .card__gallery--6 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 24rem);
    grid-template-areas:
      "pr1 pr1 pr1 pr1"
      "pr1 pr1 pr1 pr1"
      "pr2 pr2 pr3 pr3"
      "pr2 pr2 pr3 pr3"
      "pr4 pr4 pr4 pr4"
      "pr4 pr4 pr4 pr4"
    ;
  }
} */

/* 
  * CG7 *
*/

.card__gallery--7 {
  grid-template-rows: repeat(8, 27rem);
}

@media (width >= 768px) {
  .card__gallery--7 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 24rem);
    grid-template-areas:
      "pi4 pi4 pi4 pi4"
      "pi4 pi4 pi4 pi4"
      "pi1 pi1 pi2 pi2"
      "pi1 pi1 pi3 pi3"
      "pi6 pi6 pi8 pi8"
      "pi7 pi7 pi8 pi8"
      "pi5 pi5 pi5 pi5"
      "pi5 pi5 pi5 pi5"
    ;
  }

  .card--35 {
    grid-area: pi1;
  }
  
  .card--36 {
    grid-area: pi2;
  }
  
  .card--37 {
    grid-area: pi3;
  }
  
  .card--38 {
    grid-area: pi4;
  }

  .card--39 {
    grid-area: pi5;
  }
  
  .card--40 {
    grid-area: pi6;
  }
  
  .card--41 {
    grid-area: pi7;
  }
  
  .card--42 {
    grid-area: pi8;
  }
}

@media (width >= 992px) {
  .card__gallery--7 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 24rem);
    grid-template-areas:
      "pi1 pi2 pi4 pi4"
      "pi1 pi3 pi4 pi4"
      "pi5 pi5 pi6 pi8"
      "pi5 pi5 pi7 pi8"
    ;
  }
}

/*
  * FOOTER *
*/

.footer {
  padding-block: 3.8rem;
}

.footer .nav {
  position: unset;
  background-color: unset;

  .nav__logo {
    filter: brightness(0) saturate(100%) invert(57%) sepia(0%) saturate(574%) hue-rotate(140deg) brightness(95%) contrast(84%);
  }
}

.footer .nav__principal {
  width: max-content;
}

.footer .nav__options {
  transform: unset;
  background-color: unset;
}

.nav__contact {
  font-size: 1.4rem;
  align-items: center;
}

@media (width >= 768px) {
  .nav__contact {
    align-items: flex-end;
  }
}

.nav__link--gray {
  color: #898989;
}